<div id="counter">
  <div class="inputDiv">
      <input type="text" class="input" placeholder="holawenas" [(ngModel)]="nuevonombre" v-if="empty" (keydown.enter)="persistStorage()">
      <button id="btn" (click)="persistStorage()">Incrementa</button>
  </div>
  <div class="divFormChecks">
      <div>
          <label for="check">Read</label>
          <input type="checkbox" name="" id="check" [(ngModel)]="check">
      </div>
      <div class="divChecks">
          <label class="container">Low
          <input type="radio" name="radio" value="low" [(ngModel)]="check1">
          <span class="checkmark"></span>
          </label>
          <label class="container">Mid
          <input type="radio" name="radio" value="mid" [(ngModel)]="check1">
          <span class="checkmark"></span>
          </label>
          <label class="container">High
          <input type="radio" name="radio" value="high" [(ngModel)]="check1">
          <span class="checkmark"></span>
          </label>
      </div>
  </div>
  <div class="divForm">
      <!-- <p class="txt"> {{nuevonombre}} </p> -->
      <div class="divInfoItems">
          <h3>Todos: {{ counter }}</h3>
          <p>Undone Todo: {{ getReadedBooks().unread }}</p> 
          <p>Done Todo: {{ getReadedBooks().readedBooks }}</p>
      </div>

      <div class="searchInp">
          <h3>Search notes here: </h3>
          <input id="searchInput" type="text" class="input" placeholder="search a note" [(ngModel)]="searchInput" (keydown)="filterNotes()"> 
          <button (click)="filterNotes()">Filter</button>
      </div>
  </div>
<div class="notasNOptions">
      <div class="notasContainer">
        Aqui va lista notas
        <app-add-book-form></app-add-book-form>
<!-- FALTA CREAR UN SERVICIO EN EL QUE GUARDAS ITEMS Y ACCEDES A EL DESDE EL HIJO -->
          <!-- <ListaNotas :items="this.items"/> -->
      </div>
</div>
</div>      